body#home div.container {
  text-align: center;
  background: none;
  
}



body {
  padding: 100px;
  margin: 0;
  background-size: unset;
  overflow: hidden;
  align-items: center;
  background: radial-gradient(ellipse at center, rgba(255,179,206,0) 0%, rgba(255,180,199,0) 43%, rgba(248, 230, 71, 0.43) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffb3ce', endColorstr='#6effb5bd', GradientType=1);
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  justify-content: center;
  min-width: 184px;
  overflow-x: hidden;
  transition: background-color .2s;
}

div#titulo { 
  
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

h1 {
  border-radius: 40px;
  width: 100%;
  padding: 10px;
}

input { 
  text-align: center;
  width: 200px;
  height: 200px;
  border: none;
  padding: 10px;
  outline: none;
  padding: 5px;
  box-shadow: none; 
  background: transparent;
}



footer {
  margin-top: 10%;
  color: black;
}

footer a {
  font-weight: bold;
  color: #ffc107;
  text-decoration: none;

}

footer a:hover {
  text-decoration: none;
  color: #8d6c08;
  
}
#barra{
  display: flex;
  width: 400px;
  margin: auto;
  margin-bottom: 10px;
  padding: 0;
}
#barra:hover{
  background: transparent;
}
#barra2{
   
    height: 50px;
    width: 400px;
}
#mais, #menos { 
  margin: 0;
  width: 100px;
  font-size: 80px;
  padding-top: 0;
  margin-bottom: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.cudeboi {
  text-align: center;
  padding: 20px;
  width: 200px;
}

::-webkit-input-placeholder {
  color: #ffc107;
}